/* pattern */
header {
  background-image: url(../img/pattern.png);
  background-color: rgb(93, 155, 248);
  background-size: auto 200px;
  height: 100px;
}
#logo {
  width: 25%;
}
/* tutti i testi grey */
#grey-text {
  color: lightslategray;
  font-weight: bold;
}
/* testo blu */
#thebooleaner {
  color: rgb(67, 136, 226);
  font-weight: bold;
}
/* tabella */
#blue-table {
  background-color: #0579ff;
}
#lighthblue-table {
  background-color: lightskyblue;
}
/* img finale 1 */
.img-moitor {
  position: relative;
}

.text1 {
  position: absolute;
  top: 2px;
  left: 50px;
  color: white;
}
/* img filale 2 */
.img-graph {
  position: relative;
}

.text2 {
  position: absolute;
  top: 2px;
  left: 50px;
  color: white;
}
